<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" >
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <title>Title</title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark" th:fragment="foo">
  <a class="navbar-brand" href="#">01</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" th:href="@{/}">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/new}">Add</a>
      </li>
    </ul>
  </div>
</nav>
<br/>
<h2 class="d-flex justify-content-center" >Your Tasks</h2>
<br/>

<div class="container">
  <div class="row justify-content-md-center">
    <table class="table">
      <thead class="thead-dark">
      <th scope="col">Title</th>
      <th scope="col">Description</th>
      <th scope="col">Action</th>
      </thead>
      <tbody>
      <!--/*@thymesVar id="employee" type="java"*/-->
      <tr th:each="aTask : ${tasks}">
        <td th:text="${aTask.name}">
        <td th:text="${aTask.isdone} ? 'Done' : 'Not Done'" />
        <td>
          <!--/*@thymesVar id="student" type="java"*/-->
          <a class="btn btn-danger" th:href="@{'/delete/' + ${aTask.id}}" role="button" >Delete</a>
          <a class="btn btn-secondary" th:href="@{'/edit/' + ${aTask.id}}" role="button" >Edit</a>
        </td>
      </tr>
      </tbody>

    </table>
  </div>
</div>

</div>
</body>
</html>